<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<tbody>
<div th:each="flight, iterStat:${flights}">
    <tr style="background-color: #fdfdfd">
        <th scope="row" th:text="${flight.placeDeparture}">Dark</th>
        <td th:text="${flight.placeArrive}"></td>
        <td th:text="${flight.dateDeparture}"></td>
        <td th:text="${flight.timeDeparture}"></td>
        <td th:text="${flight.dateReturn}"></td>
        <td th:text="${flight.timeReturn}"></td>
        <a href="/confirmBooking">
            BOOK NOW
        </a>
    </tr>
</div>
</tbody>
</table>
</body>
</html>